{% macro render_pagination(pagination) %}
  <nav class="text-center">
    <ul class="pagination">
      {% if pagination.has_prev %}
        <li style="border: none">
          <a href="{{ pagination.prev|url }}" aria-label="Anterior">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="disabled" style="border: none">
          <span>
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>
      {% endif %}
        <li class="active" style="border: none">
          <span>{{ pagination.page }}<span class="sr-only">(current)</span></span>
        </li>
      {% if pagination.has_next %}
        <li style="border: none">
          <a href="{{ pagination.prev|url }}" aria-label="Siguiente">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="disabled" style="border: none">
          <span>
            <span aria-hidden="true">&raquo;</span>
          </span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endmacro %}
